.movie-details-container {
  display: flex;
  margin: 40px;

  img {
    width: 30%;
  }

  .header {
    display: flex;
    justify-content: space-between;

    .rating {
      mat-icon {
        font-size: 30px;
        color: #ccc;

        &.active {
          color: #e8c217;
        }
      }

    }
  }

  .details {
    margin-left: 40px;
  }
}
